<div class="page-header">
        <h1>Municipios</h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <%= link_to 'Crear nuevo', new_municipio_path, :class => "btn btn btn-success" %>
    </div>
</div>
<br />


<table class="table table-bordered table-striped">
  <tr>
    <th>Código subregión</th>
    <th>Código municipio</th>
    <th>Nombre municipio</th>
    <th><div align="center"><a href="#" title="Buscar"><i class="icon-search"></i></a></div></th>
    <th><div align="center"><a href="#" title="Editar"><i class="icon-edit"></i></a></div></th>
    <th><div align="center"><a href="#" title="Eliminar"><i class="icon-remove"></i></a></div></th>
  </tr>

<% @municipios.each do |municipio| %>
  <tr>
    <td><%= municipio.cod_subregion %></td>
    <td><%= municipio.cod_municipio %></td>
    <td><%= municipio.nombre_municipio %></td>
    <td><%= link_to 'Mostrar', municipio %></td>
    <td><%= link_to 'Editar', edit_municipio_path(municipio) %></td>
    <td><%= link_to 'Eliminar', municipio, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</table>