<h1>Municipios</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Cod municipio</th>
    <th>Nombre municipio</th>
    <th>Cod subregion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @municipios.each do |municipio| %>
  <tr>
    <td><%= municipio.cod_municipio %></td>
    <td><%= municipio.nombre_municipio %></td>
    <td><%= municipio.cod_subregion %></td>
    <td><%= link_to 'Show', municipio %></td>
    <td><%= link_to 'Edit', edit_municipio_path(municipio) %></td>
    <td><%= link_to 'Destroy', municipio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Municipio', new_municipio_path %>
