<div class="page-header" align="center">
        <h3>Municipios</h3>
</div>
<!--
<p>
  Download:
  <%= link_to "Excel", municipios_path(format: "xls") %>
</p>
-->

<div class="row-fluid">
    <div class="span6">
        <%= link_to 'Ingresar un Municipio', new_municipio_path, :class => "btn btn btn-success" %>
    </div>
    <div class="span6" align="right">
       <%= link_to image_tag("/assets/download.png", :border => 0, :width => '50', :title => 'Descargar en Excel'), municipios_path(format: "xls") %>
    </div>
</div>
<br />


<table id="tablaMunicipios" class="table table-bordered table-striped">
  <tr>
    <th>nombre</th>
    <th>codigo</th>
    <th><div align="center"><a href="#" title="Buscar"><i class="icon-search"></i></a></div></th>
    <th><div align="center"><a href="#" title="Editar"><i class="icon-edit"></i></a></div></th>
    <th><div align="center"><a href="#" title="Eliminar"><i class="icon-remove"></i></a></div></th>
  </tr>

<% @municipios.each do |municipio| %>
  <tr>
  <td><a href="/municipios/municipios_reporte/<%= municipio.nombre_municipio %>"><%= municipio.nombre_municipio %></a></td>
  <td><%= municipio.cod_municipio %></td>
  <td><%= link_to 'Mostrar', municipio %></td>
  <td><%= link_to 'Editar', edit_municipio_path(municipio) %></td>
  <td><%= link_to 'Eliminar', municipio, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</table>

<script language="javascript" type="text/javascript"> 
var table1_Props =  {                     
    col_1: "none", 
    col_2: "none", 
    col_3: "none",  
    col_4: "none", 
                };
  var tf1 = setFilterGrid("tablaMunicipios", table1_Props);
</script>