<div class="page-header" align="center">
        <h3>Equipamiento Tecnológico <%=@nombre_municipio%></h3>
</div>

<br />
<div class="row-fluid">
    <div class="span6">
        <%= link_to 'Regresar a Municipios', municipios_path, :class => "btn btn btn-success" %>
    </div>

    <div class="span6">
        <div align="right"><input  class="btn btn btn-success" type="button" name="imprimir" value="Imprimir Reporte" onclick="window.print();"></div>
    </div>
</div>
<br />



<div class="row-fluid">
    <div class="span12 well">
      <h3>Total Equipos Entregados: <%=@subregions_conteo%></h3>
    </div>
</div>
<div class="row-fluid">
  <div class="span12 well">
    <div class="span4">
    <h4>Resumen entrega por progrmas</h4>
      <p><%=@subregions_conteo_media%> Equipos de la media</p>
      <p><%=@subregions_conteo_virtual1%> Equipos Antioquia Virtual Fase 1</p>
      <p><%=@subregions_conteo_virtual2%> Equipos Antioquia Virtual Fase 2</p>
      <p><%=@subregions_conteo_virtual3%> Equipos Antioquia Virtual Fase 3</p>
      <p><%=@subregions_conteo_antioquia%> Equipos Antioquia Virtual Fase 3</p>
    </div>
    <div class="span4">
      <h4>Resumen entrega por Tipo</h4>
      <p><%=@subregions_conteo_portatil%> Equipos Portatil</p>
      <p><%=@subregions_conteo_escritorio%> Equipos de escritorio</p>
    </div>
    <div class="span4">
      <h4>Resumen entrega por Marca</h4>
      <p><%=@subregions_conteo_hp%> Equipos Hewlett Packard</p>
      <p><%=@subregions_conteo_compaq%> Equipos Compaq</p>
      <p><%=@subregions_conteo_compumax%> Equipos Compumax</p>
    </div>
  </div>  
</div>

<table class="table table-bordered table-striped">
  <tr>
  <th>Nombre Subregion</th>
  <th>Nombre Establecimiento</th>
  <th>Nombre Sede</th>
      <th>Dane sede</th>
      <th>Dane Establecimiento</th>
      <th>Tipo</th>
      <th>Origen</th>
      <th>Fecha entrega</th>
      <th>Nombre Equipo</th>
      <th>Fabricante</th>
   
  </tr>

<% @municipios.each do |municipio| %>
  <tr>
  <td><%= municipio.nombre_subregion %></td>
  <td><%= municipio.Nombre_Establecimiento %></td>
  <td><%= municipio.Nombre_Sede %></td>
     <td><%= municipio.dane_sede %></td>
     <td><%= municipio.dane_establec %></td>
    <td><%= municipio.tipo %></td>
    <td><%= municipio.origen %></td>
    <td><%= municipio.fecha_entrega %></td>
    <td><%= municipio.Nombre_Equipo %></td>
    <td><%= municipio.fabricante %></td>
  </tr>
<% end %>
</table>