<div class="page-header">
        <h1>Municipios</h1>
</div>

<br />
<div class="row-fluid">
    <div class="span12">
        <%= link_to 'Regresar a Subregiones', subregions_path, :class => "btn btn btn-success" %>
    </div>
</div>
<br />


<table class="table table-bordered table-striped">
  <tr>
  <th>Nombre Subregion</th>
  <th>Nombre Sede</th>
  <th>Nombre Establecimiento</th>
    <th>Dane sede</th>
    <th>Tipo</th>
    <th>Origen</th>
    <th>Fecha entrega</th>
    <th>Nombre</th>
    <th>Fabricante</th>
   
  </tr>

<% @municipios.each do |equipment| %>
  <tr>
  <td><%= equipment.nombre_subregion %></td>
  <td><%= equipment.Nombre_Sede %></td>
  <td><%= equipment.Nombre_Establecimiento %></td>
    <td><%= equipment.dane_sede %></td>
    <td><%= equipment.tipo %></td>
    <td><%= equipment.origen %></td>
    <td><%= equipment.fecha_entrega %></td>
    <td><%= equipment.nombre %></td>
    <td><%= equipment.fabricante %></td>
  </tr>
<% end %>
</table>