<div class="page-header" align="center">
        <h3>Ver Municipio</h3>
</div>

<div class="row">
    <div class="span6">
		<p>
		  <b>Código del municipio:</b>
		  <%= @municipio.cod_municipio %>
		</p>
		<p>
		  <b>Nombre del municipio:</b>
		  <%= @municipio.nombre_municipio %>
		</p>
	</div>
	<div class="span6">
		<p>
		  <b>Código de subregion:</b>
		  <%= @municipio.cod_subregion %>
		</p>
	</div>
</div>


<br />

  <div class="row">
    <div class="span12" align="center">
      <%= link_to 'Editar', edit_municipio_path(@municipio), :class => "btn btn btn-success" %>
      <%= link_to 'Regresar', municipios_path, :class => "btn btn btn-success" %>
    </div>
  </div>