<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dane_sede %><br />
    <%= f.number_field :dane_sede %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :origen %><br />
    <%= f.text_field :origen %>
  </div>
  <div class="field">
    <%= f.label :fecha_entrega %><br />
    <%= f.date_select :fecha_entrega %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :fabricante %><br />
    <%= f.text_field :fabricante %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :procesador %><br />
    <%= f.text_field :procesador %>
  </div>
  <div class="field">
    <%= f.label :memoria_ram %><br />
    <%= f.text_field :memoria_ram %>
  </div>
  <div class="field">
    <%= f.label :disco_duro %><br />
    <%= f.text_field :disco_duro %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.text_field :display %>
  </div>
  <div class="field">
    <%= f.label :sist_operativo %><br />
    <%= f.text_field :sist_operativo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
