<div class="page-header" align="center">
        <h3>Equipos por programa</h3>
</div>

<div class="row-fluid">
  <div class="span12 well">
    <strong>Cantidad Equipos: </strong> <%= @equipment_conteo %>
  </div>
</div>

<% unless @equipment.empty?%>
<table class="table table-bordered table-striped">
  <tr>
    <th>Dane sede</th>
    <th>Tipo</th>
    <th>Origen</th>
    <th>Fecha entrega</th>
    <th>Nombre</th>
    <th>Fabricante</th>
    <!--
    <th>Modelo</th>
    <th>Serial</th>
    <th>Procesador</th>
    <th>Memoria ram</th>
    <th>Disco duro</th>
    <th>Display</th>
    <th>Sist operativo</th>
    -->
    <th><div align="center"><a href="#" title="Buscar"><i class="icon-search"></i></a></div></th>
    <th><div align="center"><a href="#" title="Editar"><i class="icon-edit"></i></a></div></th>
    <th><div align="center"><a href="#" title="Eliminar"><i class="icon-remove"></i></a></div></th>
  </tr>

<% @equipment.each do |equipment| %>
  <tr>
    <td><%= equipment.dane_sede %></td>
    <td><%= equipment.tipo %></td>
    <td><%= equipment.origen %></td>
    <td><%= equipment.fecha_entrega %></td>
    <td><%= equipment.nombre %></td>
    <td><%= equipment.fabricante %></td>
    <!--
    <td><%= equipment.modelo %></td>
    <td><%= equipment.serial %></td>
    <td><%= equipment.procesador %></td>
    <td><%= equipment.memoria_ram %></td>
    <td><%= equipment.disco_duro %></td>
    <td><%= equipment.display %></td>
    <td><%= equipment.sist_operativo %></td>
    -->
    <td><%= link_to 'Mostrar', equipment %></td>
    <td><%= link_to 'Editar', edit_equipment_path(equipment) %></td>
    <td><%= link_to 'Eliminar', equipment, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
<% else%>
<p>ESTABLECIMIENTO SIN EQUIPOS REGISTRADOS</p>
<% end %>

</table>

<br />

<%= link_to 'New Equipment', new_equipment_path %>
