<div class="page-header" align="center">
        <h3>Ver Equipo</h3>
</div>

<div class="row">
  <div class="span6">
    <p>
      <b>Dane sede:</b>
      <%= @equipment.dane_sede %>
    </p>

    <p>
      <b>Tipo:</b>
      <%= @equipment.tipo %>
    </p>

    <p>
      <b>Origen:</b>
      <%= @equipment.origen %>
    </p>

    <p>
      <b>Fecha entrega:</b>
      <%= @equipment.fecha_entrega %>
    </p>

    <p>
      <b>Nombre:</b>
      <%= @equipment.nombre %>
    </p>

    <p>
      <b>Fabricante:</b>
      <%= @equipment.fabricante %>
    </p>
  </div>

  <div class="span6">
    <p>
      <b>Modelo:</b>
      <%= @equipment.modelo %>
    </p>

    <p>
      <b>Serial:</b>
      <%= @equipment.serial %>
    </p>

    <p>
      <b>Procesador:</b>
      <%= @equipment.procesador %>
    </p>

    <p>
      <b>Memoria ram:</b>
      <%= @equipment.memoria_ram %>
    </p>

    <p>
      <b>Disco duro:</b>
      <%= @equipment.disco_duro %>
    </p>

    <p>
      <b>Display:</b>
      <%= @equipment.display %>
    </p>

    <p>
      <b>Sist operativo:</b>
      <%= @equipment.sist_operativo %>
    </p>
  </div>
</div>

<br />

<div class="row">
  <div class="span12" align="center">
    <%= link_to 'Editar', edit_equipment_path(@equipment), :class => "btn btn btn-success" %>
    <%= link_to 'Regresar', equipment_index_path, :class => "btn btn btn-success" %>
  </div>
</div>