<p id="notice"><%= notice %></p>

<p>
  <b>Dane sede:</b>
  <%= @equipment.dane_sede %>
</p>

<p>
  <b>Tipo:</b>
  <%= @equipment.tipo %>
</p>

<p>
  <b>Origen:</b>
  <%= @equipment.origen %>
</p>

<p>
  <b>Fecha entrega:</b>
  <%= @equipment.fecha_entrega %>
</p>

<p>
  <b>Nombre:</b>
  <%= @equipment.nombre %>
</p>

<p>
  <b>Fabricante:</b>
  <%= @equipment.fabricante %>
</p>

<p>
  <b>Modelo:</b>
  <%= @equipment.modelo %>
</p>

<p>
  <b>Serial:</b>
  <%= @equipment.serial %>
</p>

<p>
  <b>Procesador:</b>
  <%= @equipment.procesador %>
</p>

<p>
  <b>Memoria ram:</b>
  <%= @equipment.memoria_ram %>
</p>

<p>
  <b>Disco duro:</b>
  <%= @equipment.disco_duro %>
</p>

<p>
  <b>Display:</b>
  <%= @equipment.display %>
</p>

<p>
  <b>Sist operativo:</b>
  <%= @equipment.sist_operativo %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
