<div class="container">
	<div class="page-header">
        <h2 align="center">Sistema de Información para Administración y Control del Equipamiento Tecnológico de los Establecimientos Educativos Oficiales de los Municipios No Certificados del Departamento de Antioquia
        </h2>
	</div>
	<div class="row">
		<div class="span6">
			  <!-- Banner -->
			  <section>
			    <div>  
			      <div>
			        <div>
			          <div id="myCarousel" class="carousel slide image_margin">
			            <ol class="carousel-indicators">
			              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			              <li data-target="#myCarousel" data-slide-to="1"></li>
			              <li data-target="#myCarousel" data-slide-to="2"></li>
			              <li data-target="#myCarousel" data-slide-to="3"></li>
			              <li data-target="#myCarousel" data-slide-to="4"></li>
			              <li data-target="#myCarousel" data-slide-to="5"></li>
			              <li data-target="#myCarousel" data-slide-to="6"></li>
			              <li data-target="#myCarousel" data-slide-to="7"></li>
			              <li data-target="#myCarousel" data-slide-to="8"></li>
			            </ol>
			            <!-- Carousel items -->
			            <div class="carousel-inner fix_carousel">
			              <div class="active item"><%= image_tag("1.png", :width => 600, :alt => "banner1") %></div>
			              <div class="item"><%= image_tag("2.png", :width => 600, :alt => "banner2") %></div>
			              <div class="item"><%= image_tag("3.png", :width => 600, :alt => "banner3") %></div>
			              <div class="item"><%= image_tag("4.png", :width => 600, :alt => "banner4") %></div>
			              <div class="item"><%= image_tag("5.png", :width => 600, :alt => "banner5") %></div>
			              <div class="item"><%= image_tag("6.png", :width => 600, :alt => "banner6") %></div>
			              <div class="item"><%= image_tag("7.png", :width => 600, :alt => "banner7") %></div>
			              <div class="item"><%= image_tag("8.png", :width => 600, :alt => "banner8") %></div>
			              <div class="item"><%= image_tag("9.png", :width => 600, :alt => "banner9") %></div>
			            </div>
			              <!-- Carousel nav -->
			            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			          </div>  <!--Close MyCarousel-->
			        </div>  <!--Close Span12-->
			      </div><!--Close Row-->
			     </div> <!--Close Container-->
			  </section>
			  <!--Close Banner -->

			</div>

			<div class="span6">
				<div align="center">
					<br />
					<br />
					<br />
				    <%= image_tag("logo.png", :width => 500)%>
				    <br />
				    <br />
				    <br />
				    <br />
					<h4 align="center">Este sistema de información administrará y controlará el equipamiento tecnológico de los establecimientos educativos oficiales de los municipios no certificados del Departamento de Antioquia.
					</h4>
				</div>
			</div>
	</div>
</div>