<p id="notice"><%= notice %></p>

<p>
  <b>Dane sede:</b>
  <%= @sede.dane_sede %>
</p>

<p>
  <b>Dane establec:</b>
  <%= @sede.dane_establec %>
</p>

<p>
  <b>Localidad:</b>
  <%= @sede.localidad %>
</p>

<p>
  <b>Nombre:</b>
  <%= @sede.nombre %>
</p>

<p>
  <b>Zona:</b>
  <%= @sede.zona %>
</p>

<p>
  <b>Calendario:</b>
  <%= @sede.calendario %>
</p>

<p>
  <b>Jornada:</b>
  <%= @sede.jornada %>
</p>

<p>
  <b>Direccion:</b>
  <%= @sede.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @sede.telefono %>
</p>

<p>
  <b>Correo:</b>
  <%= @sede.correo %>
</p>


<%= link_to 'Edit', edit_sede_path(@sede) %> |
<%= link_to 'Back', sedes_path %>
