<h1>Listing subregions</h1>

<table>
  <tr>
    <th>Cod subregion</th>
    <th>Nombre subregion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subregions.each do |subregion| %>
  <tr>
    <td><%= subregion.cod_subregion %></td>
    <td><%= subregion.nombre_subregion %></td>
    <td><%= link_to 'Show', subregion %></td>
    <td><%= link_to 'Edit', edit_subregion_path(subregion) %></td>
    <td><%= link_to 'Destroy', subregion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subregion', new_subregion_path %>
