<div class="page-header" align="center">
        <h3>Subregiones</h3>
</div>

<!--
<p>
  Download:
  <%= link_to "Excel", subregions_path(format: "xls") %>
</p>
-->

<div class="row-fluid">
    <div class="span6">
       <a href="/subregions/new" class="btn btn btn-success">Ingrese una Subregión</a>
    </div>
    <div class="span6" align="right">
       <%= link_to image_tag("/assets/download.png", :border => 0, :width => '50', :title => 'Descargar en Excel'), subregions_path(format: "xls") %>
    </div>
</div>
<br />


<table id="tablaSubregiones" class="table table-bordered table-striped">
  <tr>
    <th>nombre</th>
    <th>codigo</th>
    <th><div align="center"><a href="#" title="Buscar"><i class="icon-search"></i></a></div></th>
    <th><div align="center"><a href="#" title="Editar"><i class="icon-edit"></i></a></div></th>
    <th><div align="center"><a href="#" title="Eliminar"><i class="icon-remove"></i></a></div></th>
  </tr>

<% @subregions.each do |subregion| %>
  <tr>
  <td><a href="/subregions/subregions_reporte/<%= subregion.nombre_subregion %>"><%= subregion.nombre_subregion %></a></td>
  <td><%= subregion.cod_subregion %></td>
  <td><%= link_to 'Mostrar', subregion %></td>
  <td><%= link_to 'Editar', edit_subregion_path(subregion) %></td>
  <td><%= link_to 'Eliminar', subregion, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</table>

<script language="javascript" type="text/javascript">
var table1_Props =  {                     
    col_1: "none", 
    col_2: "none", 
    col_3: "none",  
    col_4: "none", 
                };
  var tf1 = setFilterGrid("tablaSubregiones", table1_Props);
  </script>