<div class="page-header">
        <h1>Equipamieto Subregiones</h1>
</div>

<br />
<div class="row-fluid">
    <div class="span12">
        <%= link_to 'Regresar a Subregiones', subregions_path, :class => "btn btn btn-success" %>
    </div>
</div>
<br />


<table class="table table-bordered table-striped">
  <tr>
  <th>Nombre Subregion</th>
  <th>Nombre Establecimiento</th>
  <th>Nombre Sede</th>
      <th>Dane sede</th>
      <th>Dane Establecimiento</th>
      <th>Tipo</th>
      <th>Origen</th>
      <th>Fecha entrega</th>
      <th>Nombre Equipo</th>
      <th>Fabricante</th>
   
  </tr>

<% @subregions.each do |municipio| %>
  <tr>
  <td><%= municipio.nombre_subregion %></td>
  <td><%= municipio.Nombre_Establecimiento %></td>
  <td><%= municipio.Nombre_Sede %></td>
     <td><%= municipio.dane_sede %></td>
     <td><%= municipio.dane_establec %></td>
    <td><%= municipio.tipo %></td>
    <td><%= municipio.origen %></td>
    <td><%= municipio.fecha_entrega %></td>
    <td><%= municipio.Nombre_Equipo %></td>
    <td><%= municipio.fabricante %></td>
  </tr>
<% end %>
</table>