<%= form_for(@principal_establec) do |f| %>
  <% if @principal_establec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@principal_establec.errors.count, "error") %> prohibited this principal_establec from being saved:</h2>

      <ul>
      <% @principal_establec.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.label :dane_establec %><br />
    <%= f.text_field :dane_establec %>
  </div>
  <div class="field">
    <%= f.label :localidad %><br />
    <%= f.text_field :localidad %>
  </div>
  <div class="field">
    <%= f.label :rector %><br />
    <%= f.text_field :rector %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <% zonas = {"RURAL" => "RURAL", "URBANA" => "URBANA", "RURAL,URBANA" => "RURAL,URBANA"} %>
      <% lista = zonas.sort %>
      <%= f.label :zona %><br />
      <%= f.select :zona, lista %>
  </div>
  <div class="field">
    <%= f.label :calendario %><br />
    <%= f.text_field :calendario %>
  </div>
  <div class="field">
    <%= f.label :jornada %><br />
    <%= f.text_field :jornada %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :correo %><br />
    <%= f.text_field :correo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
