<div class="page-header" align="center">
        <h3>Establecimientos</h3>
</div>
<p>
  Download:
  <%= link_to "Excel", principal_establecs_path(format: "xls") %>
</p>

<div class="row-fluid">
    <div class="span12">
        <%= link_to 'Ingresar un nuevo Establecimiento', new_principal_establec_path, :class => "btn btn btn-success" %>
    </div>
</div>
<br />

<div class="row-fluid">
    <div class="span12">
        <table id="tablaEstablecimientos" class="table table-bordered table-striped">
          <tr>
            <th>Codigo dane</th>
            <!--
            <th>Localidad</th>
            -->
            <th>Insitución</th>
            <th>Rector</th>
            <!--
            <th>Zona</th>
            <th>Calendario</th>
            <th>Jornada</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            -->
            <th><div align="center"><a href="#" title="Buscar"><i class="icon-search"></i></a></div></th>
            <th><div align="center"><a href="#" title="Editar"><i class="icon-edit"></i></a></div></th>
            <th><div align="center"><a href="#" title="Eliminar"><i class="icon-remove"></i></a></div></th>
          </tr>

          
        <% @principal_establecs.each do |principal_establec| %>
          <tr>
            
            <td><a href="/establecimientos/establecimientos_reporte/<%= principal_establec.dane_establec %>"><%= principal_establec.dane_establec %></a></td>
            <!--
            <td><%= principal_establec.localidad %></td>
            -->
            <td><%= principal_establec.nombre %></td>
            <td><%= principal_establec.rector %></td>
            <!--
            <td><%= principal_establec.zona %></td>
            <td><%= principal_establec.calendario %></td>
            <td><%= principal_establec.jornada %></td>
            <td><%= principal_establec.direccion %></td>
            <td><%= principal_establec.telefono %></td>
            <td><%= principal_establec.correo %></td>
            -->
            <td><%= link_to 'Mostrar', principal_establec %></td>
            <td><%= link_to 'Editar', edit_principal_establec_path(principal_establec) %></td>
            <td><%= link_to 'Eliminar', principal_establec, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
          </tr>
        <% end %>
        </table>
    </div>
</div>

<script language="javascript" type="text/javascript"> 
  var table1_Props =  {                     
    col_0: "none", 
    col_2: "none", 
    col_3: "none", 
    col_4: "none",  
    col_5: "none", 
                };
  var tf1 = setFilterGrid("tablaEstablecimientos", table1_Props);
</script>