<h1>Listing principal_establecs</h1>

<table>
  <tr>
    <th>Dane establec</th>
    <th>Localidad</th>
    <th>Rector</th>
    <th>Nombre</th>
    <th>Zona</th>
    <th>Calendario</th>
    <th>Jornada</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Correo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @principal_establecs.each do |principal_establec| %>
  <tr>
    <td><%= principal_establec.dane_establec %></td>
    <td><%= principal_establec.localidad %></td>
    <td><%= principal_establec.rector %></td>
    <td><%= principal_establec.nombre %></td>
    <td><%= principal_establec.zona %></td>
    <td><%= principal_establec.calendario %></td>
    <td><%= principal_establec.jornada %></td>
    <td><%= principal_establec.direccion %></td>
    <td><%= principal_establec.telefono %></td>
    <td><%= principal_establec.correo %></td>
    <td><%= link_to 'Show', principal_establec %></td>
    <td><%= link_to 'Edit', edit_principal_establec_path(principal_establec) %></td>
    <td><%= link_to 'Destroy', principal_establec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Principal establec', new_principal_establec_path %>
