
<h1>INFORMACION USUARIO</h1>
<table>
  <tr>
    <th>nombre</th>
   
    <th>Permisos</th>

     <th>Entidad</th>

     <th>correo</th>
  </tr>

  <tr>
    <td><%= @nombre %></td>
  
    <td><%= @permisos %></td>

      <td><%= @entidad %></td>

      <td><%= @correo %></td>

  </tr>
</table>

<br />

<%= link_to 'New Equipment', new_equipment_path %>
