<table class="table table-bordered table-striped">
  <tr>
  <th>Nombre Subregion</th>
  <th>Nombre Municipio</th>
  <th>Nombre Establecimiento</th>
  <th>Dane Establecimiento</th>
    <th>Correo Electrònico</th>

   
  </tr>

<% @usuarios.each do |equipment| %>
  <tr>
	  <td><%= equipment.nombre_subregion %></td>
	  <td><%= equipment.nombre_municipio %></td>
	  <td><%= equipment.Nombre_Establecimiento %></td>
	  <td><%= equipment.dane_establec %></td>
	  <td><%= equipment.correo %></td>
  </tr>
<% end %>
</table>