<p id="notice"><%= notice %></p>

<p>
  <b>Dane establec:</b>
  <%= @principal_establec.dane_establec %>
</p>

<p>
  <b>Localidad:</b>
  <%= @principal_establec.localidad %>
</p>

<p>
  <b>Rector:</b>
  <%= @principal_establec.rector %>
</p>

<p>
  <b>Nombre:</b>
  <%= @principal_establec.nombre %>
</p>

<p>
  <b>Zona:</b>
  <%= @principal_establec.zona %>
</p>

<p>
  <b>Calendario:</b>
  <%= @principal_establec.calendario %>
</p>

<p>
  <b>Jornada:</b>
  <%= @principal_establec.jornada %>
</p>

<p>
  <b>Direccion:</b>
  <%= @principal_establec.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @principal_establec.telefono %>
</p>

<p>
  <b>Correo:</b>
  <%= @principal_establec.correo %>
</p>


<%= link_to 'Edit', edit_principal_establec_path(@principal_establec) %> |
<%= link_to 'Back', principal_establecs_path %>
