<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
  <div class="row">
      <div class="span12">
        <div class="alert alert-danger" role="alert">
          <div id="error_explanation">
            <ul>
            <% @supplier.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
      <div class="span2">
        <div align="right"> 
          <label>Nombre del programa (*) </label>
        </div>
      </div>
      <div class="span4">
        <div class="field">
          <div class="control-group<%= @supplier.errors[:nombre_programa].any? ? " error" : "" %>">
            <span style="color:red">
              <%= f.text_field :nombre_programa, :placeholder => "Nombre del programa" %>
            </span>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="field" align="right">
          <label>Entidad ejecutora (*) </label>
        </div>
      </div>
      <div class="span4">
        <div class="field">
          <div class="control-group<%= @supplier.errors[:entidad_ejecutora].any? ? " error" : "" %>">
            <span style="color:red">
              <%= f.text_field :entidad_ejecutora, :placeholder => "Entidad ejecutora" %>
              </span>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="span2">
        <div align="right"> 
          <label>Fase (*) </label>
        </div>
      </div>
      <div class="span4">
        <div class="field">
          <div class="control-group<%= @supplier.errors[:fase].any? ? " error" : "" %>">
            <span style="color:red">
              <%= f.text_field :fase, :placeholder => "Fase" %>
            </span>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="field" align="right">
          <label>Fecha de Entrega (*) </label>
        </div>
      </div>
      <div class="span4">
        <div class="field">
          <div class="control-group<%= @supplier.errors[:fecha_entrega].any? ? " error" : "" %>">
            <span style="color:red">
              <%= f.text_field :fecha_entrega, :placeholder => "Entidad ejecutora" %>
              </span>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <div class="span2">
        <div align="right"> 
          <label>Responsable (*) </label>
        </div>
      </div>
      <div class="span4">
        <div class="field">
          <div class="control-group<%= @supplier.errors[:responsable].any? ? " error" : "" %>">
            <span style="color:red">
              <%= f.text_field :responsable, :placeholder => "Responsable" %>
            </span>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="field" align="right">
          <label>Cantidad (*) </label>
        </div>
      </div>
      <div class="span4">
        <div class="field">
          <div class="control-group<%= @supplier.errors[:cantidad].any? ? " error" : "" %>">
            <span style="color:red">
              <%= f.text_field :cantidad, :placeholder => "Cantidad" %>
              </span>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="span12" align="center">
      <%= f.submit "Enviar", class: "btn btn btn-success" %>
      <%= link_to 'Cancelar', suppliers_path, :class => "btn btn btn-success" %>
    </div>
  </div>

<% end %>
