<div class="page-header">
        <h1>Programas</h1>
</div>

<div class="row-fluid">
    <div class="span12">
        <%= link_to 'Crear nuevo', new_supplier_path, :class => "btn btn btn-success" %>
    </div>
</div>
<br />

<table  class="table table-bordered table-striped">
  <tr>
    <th>Nombre programa</th>
    <th>Entidad ejecutora</th>
    <th>Fase</th>
    <th>Fecha entrega</th>
    <th>Responsable</th>
    <th>Cantidad</th>
    <th><div align="center"><a href="#" title="Buscar"><i class="icon-search"></i></a></div></th>
    <th><div align="center"><a href="#" title="Editar"><i class="icon-edit"></i></a></div></th>
    <th><div align="center"><a href="#" title="Eliminar"><i class="icon-remove"></i></a></div></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.nombre_programa %></td>
    <td><%= supplier.entidad_ejecutora %></td>
    <td><%= supplier.fase %></td>
    <td><%= supplier.fecha_entrega %></td>
    <td><%= supplier.responsable %></td>
    <td><%= supplier.cantidad %></td>
    <td><%= link_to 'Mostrar', supplier %></td>
    <td><%= link_to 'Editar', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Eliminar', supplier, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</table>
